

.navbar {
    background-color: aquamarine;
    display: flex;
    justify-content: space-between;
    /* left & right */
    align-items: center;
    padding: 20px 40px;


}

.menu {

    display: flex;
    gap: 100px;
}

.menu a {

    text-decoration: none;
    color: blue;
    font-weight: 500;
}


.logo {
    font-size: 28px;
    font-weight: bold;
    
}
/* .logo img {
    width: 50px;           /* small size */
    height: 50px;          /* equal height for perfect circle */
    border-radius: 50%;    /* makes it round */
    object-fit: cover;     /* keeps logo aspect correct */
    cursor: pointer;       /* pointer on hover */
} */

body.index-page {
    background-image: url("background.jpg");
}

/* PAGE BACKGROUNDS */
body.home-page {
    background-color: rgb(144, 188, 238);
}

body.about-page {
    background-color: rgb(144, 188, 238);
}

body.skills-page {
    background-color: rgb(144, 188, 238);
}

body.contact-page {
    background-color: rgb(144, 188, 238);
}
h1{
    text-align: center;
}